
{{#if erros}}
<div class="alert alert-danger"><center>
{{#each erros}}
    <label class="errosTexto">*{{texto}}</label>
{{else}}

{{/each}}  
</div></center>
{{/if}}
<div id="container">
    <form action="/userPerfil" method="post" id="cadastro">
        <h2>Horizon of events</h2>
        <p id="txtHorizon">Cadastre-se para encontrar um horizonte de enventos</p>
        <input id="nome" type="text" placeholder="Nome completo" required name="nome" class = {{erro}} autocomplete="off" autocapitalize="off" autocorrect="off" oninvalid="Digite seu nome" value={{nome_erro}}>
        <input id = "username" type="text" placeholder="Nome de usuário" required name="username" class = {{erro}} autocomplete="off" autocapitalize="off" autocorrect="off" oninvalid="Digite seu nome de usuário" value={{username_erro}}>
        <input id = "email" type="text" placeholder="Email" required name="email" class = {{erro}} autocomplete="off" autocapitalize="off" autocorrect="off" oninvalid="Digite seu email" value={{email_erro}}>
        <input id = "telefone" type="tel" placeholder="Telefone" name="telefone" value={{telefone_erro}}>
        <input id="senha" type="password" min="8" max="32" placeholder="Senha" name="senha" oninvalid="Digite sua senha" class = {{erro}}>
        <input id="confirme_senha" type="password" min="8" max="32"placeholder="Confirme sua senha" name="confirme_senha" oninvalid="Digite sua senha novamente para confirmar" class = {{erro}} >
        <input type="submit" id="confirm" value="Cadastrar">
    </form>
    <div id="login">
        <p>Já tem uma conta? <a href="userLogin">Faça login</a></p>
    </div>
</div>